# Python
.venv/
__pycache__/
*.pyc

# App data
outputs/
users/

# Large model artifacts
gemma-3n-E4B-it-GGUF/
*.gguf

# OS/IDE cruft
.DS_Store

data/
test.py
run_stream_aayan_pdf_20251108-040516.json
Helpers/example.json

/.env

.env
listing_4427608951_20251231_051633.json
.gitignore
listing_4427608951_20251231_052011.json
testing.py
.gitignore
